@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Poltawski Nowy', serif;
    font-weight: normal;
}

body {
    background-color: #000000;
}

header {
    width: 100%;
    height: 128px;
    background-color: #000000;
    position: fixed;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #2e4729;
    
}
.img-header {
    position: relative;
    top: -49px;
    right: 112px;
}
.img-logo {
    position: relative;
    left: 11px;
    top: 27px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 8%;
      
}
.box {
    height: 63px;
    width: 100%;
    position: fixed;
    background: linear-gradient(0.25turn, #fded7f, #bf877bbf, #375483);
   
}
span {
    color: #ea1538;
}
 nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #a38634;
    transition: .3s;
}
.logo {
    color: white;
    font-size: 28px;
}
section{
    width: 100%;
    min-height: 81vh;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42% 54%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ds-section {
    width: 100%;
    min-height: 81vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url("img/datenschutz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42% 54%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.dse {
    color: #a38634;
    font-size: 200%;
}
.dse-text {
    float: left;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 132%;
}
.dse-text-2 {
    padding-bottom: 28px;
    font-size: 132%;
}
.dse-text-3 {
    padding-bottom: 28px;
    font-size: 132%;
}
.dse-text-list-1 {
    padding-bottom: 28px;
    font-size: 132%;
    list-style-type: none;
}
.dse-text-list-2 {
    padding-bottom: 28px;
    font-size: 132%;
    list-style-type: none;
}
.dse-text-4 {
    padding-bottom: 28px;
    font-size: 132%;
}

.article {
    width: 80%;
    max-width: 84rem;
    min-height: 50vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    /* align-items: center; */
    /* color: white; */
    margin-top: 281px;
    padding: 50px;
    margin-bottom: 50px;
}
.h2 {
    margin-top: 48px;
    color: #a38634;
    font-size: 172%;
}
.p {
   color: #a38634;
    font-size: 164%;
    padding-top: 26px;
    padding-bottom: 26px;
}
footer {
    width: 100%;
    min-height: 14vh;
    width: 100%;
    background-color: #000000;
    color: white;
    border-top: 3px solid darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.footer-container {
    display: flex;
    /* justify-content: center; */
    /* padding-left: 20%; */
    /* padding-top: 58px; */
    width: 75%;
     margin: 0 auto; 
     /* align-items: center; */
 }
 
 .box-left {
     flex: 1;
     display: flex;
     justify-content: center;
     /* font-size: 94%; */
     text-align: center;
     color: #787878;
     line-height: 20px;
     margin-right: 10px;
 }
 
 .box-left ul li {
     list-style-type: none;
 }
 .box-middle {
     flex: 1;
     display: flex;
     justify-content: center;
     color: #787878;
     line-height: 20px;
     font-size: 101%;
     margin-right: 10px;

 }
 .box-middle ul li  {
     list-style-type: none;
 }
 .box-middle ul li a  {
     text-decoration: none;
     color: white;
 }
 .box-right {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 120%;
    line-height: 20px;
    flex-direction: column;
    align-items: center;
 }
 .ds a {
    text-decoration: none;
    color: white;
 }
 .ds a:hover {
    color: #a38634;
 }

 
@media (max-width: 1625px) {
    nav ul li a {
        font-size: 17px;
        
    }
}
@media (max-width: 1542px) {
    nav ul li a {
        font-size: 15px;
        
    }
}
@media (max-width: 1460px) {
    nav ul li a {
        font-size: 14px;
        
    }
}
@media (max-width: 1419px) {
    nav ul li a {
        font-size: 13px;
        
    }
}
@media (max-width: 1379px) {
    nav ul li a {
        font-size: 11px;
    }
}
 @media (max-width: 1295px) {
    nav ul li a {
        font-size: 9px;
    }
} 
@media (max-width: 1212px) {
    nav ul li a {
        display: none;
    }
} 

/* SIDE MENÜ NAVIGATION */

#side-menu-trigger {
    font-size: 34px;
    position: absolute;
    left: 50px;
    top: 70px;
    width: 43px;
}
@media (min-width: 1212px) {
    #side-menu-trigger {
        display: none;
     }
     
 } 

 @media (max-width: 1212px) {
        .img-logo {
        display: none;
     }
 } 
  

 @media (max-width: 1212px) {
    .home-bottom  {
        display: none;
     }
 } 
  

 .side-menu {
    /* background-color: rgb(240, 240, 240); */
    background-color: #000000;
    padding-top: 15px;
 }
    h3 {
    padding-left: 15px;
    font-size: 1.6rem;
     margin-top: 14px;
    color: #a38634;
 }
.h3-beratung {
    padding-left: 172px;
    font-size: 1.6rem;
    color: white;
    margin-top: 14px;
    font-style: italic;
    }


.side-menu-navigation {
    list-style-type: none;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.side-menu-navigation li {
        border-top: 1px solid rgb(220, 220, 220);
        margin-bottom: 0px;
    }

.side-menu-navigation a {
        padding-left: 15px;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        /* color: rgb(30, 30, 30); */
        color: white;
    }



/* SIDE MENÜ NAVIGATION ENDE */



/* button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.logo {
    font-size: 28px;
}
span {
    color: red;
} */

