@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    color: white;
	
}
body {
    background-color: black;
}
header {
   background-image: url("images/abstract-blue-fractal-wave-technology-background_1017-15837.jpg");
    background-repeat: no-repeat;
   background-size: cover;
    background-position: 50% -21%;
   /* width: 100%; */
    height: 756px;
    /* position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0; */
  
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-left: 10%;
    padding-right: 20%;
}

@media (max-width: 1047px) {
    nav {
        justify-content: center;
    }
  }
 

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    
}
@media (max-width: 655px) {
    nav ul li  {
        display: flex;
        justify-content: center;
    }
  }
   /* Sub Menu Start */

  ul  li {
    display: inline-block; 
    position: relative; 
    
}
ul  li ul {
    display: none; 
    position: absolute; 
    left: 30px;  
    margin-top: 8px; 
    width: 365px;
}
ul  li:hover ul {
    display: block;  
    color: #1e90ff; 
}
.li-link {
    border-bottom: 1px solid #1e90ff;
}
.link-pfeil::after {
    font-family: 'Font Awesome 5 Free';
  content: '\f0d7';
  font-weight: bold;
  font-size: 13px;
    margin-left: 4px;
}

/* Sub Menu End */

nav ul li a {
    text-decoration: none;
   font-size: 17px;
    color: white;
    letter-spacing: 0.5px;
    transition: .3s;
}
nav ul li a:hover {
    color: #1e90ff;
}
.image {
    width: 88px;
    /* margin-left: 198px; */
} 
@media (max-width: 1047px) {
    .image {
      display: none;
    }
  }
  
.slogan-top {
    color: white;
    text-align: center;
    /* font-size: 4.063rem;
    font-size: 406%; */
    font-size: 406%;
    padding-top: 287px;
   
}
.slogan-bottom {
    color: white;
    text-align: center;
    font-size: 1.125rem;;
    padding-top: 31px;
}
.buttons-top {
    display: flex;
    justify-content: center;
    padding-top: 38px;
}
.b-left {
    border: none;
    border-radius: 34px;
    background-color: #1e90ff;
    color: white;
    padding: 17px 42px;
    font-size:0.938rem;
    font-weight: bold;
    margin-right: 8px;    transition: .4s;
}
.b-left:hover {
    transform: scale(1.2);
}
.b-right {
    border: none;
    border-radius: 34px;
    background-color:white;
    color: black;
    padding: 17px 42px;
    font-size:0.938rem;
    font-weight: bold;
     margin-left: 8px;
     transition: .4s;   
}

.b-right:hover {
    transform: scale(1.2);
}
.box-1 {
    text-align: center;
    margin-top: 151px;
}
.box-1::before {
    content: "";
    width: 54px;
    height: 5px;
    background-color: #1e90ff;
    position: absolute;
    margin-left: 80px;
    margin-top: -65px;
}

.foto-drei-mal {
    border-radius: 60px;
    height: 78px;
    width: 78px;
    margin-bottom: 22px;
    transition: .4s;
}
.foto-drei-mal:hover {
    transform: scale(1.2);
}


.box-2 {
    width: 58%;
    margin: 34px auto;
    font-size: 19px;
    text-align: center;
    line-height: 30px;
    color: #d3d3d3de;
    
}
.container-standard {
    /* width: 58%; */
    display: flex;
    margin-top: 85px;
    padding: 0 40px;
}

.flexbox {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    padding-bottom: 50px;
}
.p-color {
    color: #d3d3d3de;
    font-size: 17px;
    padding: 22px 10px;
    line-height: 31px;
}
.box-left {
    flex: 1;
    text-align: center;
    color: lightgrey;
}
.box-middle {
    text-align: center;
    flex: 1;
}
.box-right {
    text-align: center;
    flex: 1;
}
h3 {
    font-size: 140%;
}
.container-color-blue {
    width: 100%;
    background-color: #013d87;
}
.container {
    width: 58%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.slogan-container {
 margin-top: 114px;
}
.info-slogan-top {
    display: flex;
    justify-content: center;
    font-size: 34px;
    margin-bottom: 22px;
}
.info-slogan-top::before {
    content: "";
    width: 54px;
    height: 5px;
    background-color: white;
    position: absolute;
    margin-left: 16px;
    margin-top: -56px;
}
.info-slogan-bottom {
    text-align: center;
    padding: 8px;
    line-height: 28px;
    font-size: 19px;
    color: lightgrey;
}
.container-bild {
    width: 58%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-top: 2px solid white;
    position: relative;
    top: 118px;
}
.info-bild {
    width: 143px;
    height: 135px;
    border: 5px solid white;
    margin-top: 46px;
    z-index: 1;
       
} 
.fa-solid  {
    color: #add8e6a3;
    margin-left: 23%;
    padding-bottom: 2290;
    font-size: 377%;
    margin-bottom: -25px;
    display: block;
}

 .bg {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 26px;
} 
.kommentar-text {
    color: lightgrey;
}

 .coach {
     display: flex;
    justify-content: end;
    font-size: 15px;
}
.sign {
    display: flex;
    justify-content: end;
    font-size: 28px;
    margin-top: 6px;
} 
footer {
    background-color: #061018;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
}
.f-ul {
    display: flex;
    flex-direction: column;
    
}
.f-ul li {
    display: flex;
    justify-content: center;
   line-height: 24px;
}  
.imp {
    font-size: 15px;
}
.imp a {
    text-decoration: none;
}
.imp a:hover {
    color: #1e90ff;
}
.info-example {
    margin: 5px 0;
    font-weight: normal;
}
.example::before {
  font-family: 'Font Awesome 6 Free';
    content: '\f3c5';
    font-weight: bold;
    color: #1e90ff;
    padding-right: 25px;
    font-size: 14px;
}
.info-example::before {
    content: "\f003";
    font-family: 'Font Awesome 6 Free';
    /* font-weight: bold; */
    color: #1e90ff;
    padding-right: 24px;
    font-size: 14px;
}
.phone::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f095";
   font-weight: bold; 
    color: #1e90ff;
    padding-right: 12px;
    font-size: 14px;
}
.imp::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #1e90ff;
    display: block;
    margin-top: 6px;
}
.dat {
    font-size: 15px;
}
.dat::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #1e90ff;
    display: block;
    margin-top: 6px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 38px;
    right: 42px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#1e90ff;
    color: white;
    cursor: pointer;
    padding: 13px;
    border-radius: 60px;
 }
  
  #myBtn:hover {
    background-color: #1e90ff;
  }


