
* {
  margin: 0;
  padding: 0;

font-family: 'Montserrat', sans-serif;

// font-family: 'Playfair Display', serif;*/
  }


.container {

}
.logo-start {
  float: left;
  padding-top: 17px;
  font-size: 20px;
}

.logo-start a {
  color: red;
}

.logo-start a:hover {
  color: #fff;
}
.logo {
  text-decoration: none;
}

.header-navbar {
  background-color: #000000;
  height: 70px;
  opacity: 0.6;

}

.header {
  height: 620px;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/30/20/58/programming-1873854__340.png");
  background-size: cover;
  background-position: 50% 30%;
  opacity: 0.9;
}

.navbar-links {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  font-size: 135%;
  list-style-type: none;

 }

.navbar-links li {
  padding-left: 20px;
  padding-top: 16px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}
.navbar-links a:hover {
  color: #DC143C;

}

.startseite {
  background-color:
}


.slogan {

color: rgb(255, 255, 255);
text-align: center;
padding-top: 141px;
text-shadow: 0px 0px 2px black;
}

.slogan-top {
  font-size: 254%;
  font-weight: bold;
  letter-spacing: 1px;
}


.slogan-bottom {
  font-size: 189%;
  font-weight: lighter;
  margin-top: 1px;

text-shadow: 0px 0px 2px black;
}

.button {
  color: #fff;
  text-shadow: 0px 0px 2px black;
}
.button:hover {
  color: #DC143C;
  text-shadow: 0px 0px 2px black;
}

.button-div {
  padding-top: 59px;
}


.line {
  margin-top: 40px;
      color: black;
      width: 200px;
      margin-left: auto;
      margin-right:auto;
}
.nocolumn {
  display: flex;
  justify-content: center;
}
.web {

  padding-top: 10px
}

footer {
  height: 55px;
    background-color:#323232;

  }
  .copyright {
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}
